<div class="footer">
    <div class="content">
        <div class="about">
            <p>霜羽 Hoarfroster</p>
            <p>&copy; Copyright 2022 Hoarfroster and contributors.</p>
        </div>
        <div class="nav">
            <div class="links">
                <span class="title">关于文章</span>
                <ul>
                    <li><a href="/archive.html">文章存档</a></li>
                </ul>
            </div>
            <div class="category">
                <span class="title">关于霜羽</span>
                <ul>
                    <li><a href="/about.html">有关霜羽</a></li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="social-accounts">
        <li>
            <a href="https://www.zhihu.com/people/shuang-yu-29-75">
                <i class="fa-brands fa-zhihu" style="font-size: 24px; color:#06f; line-height: 24px;"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/PassionPenguin">
                <img src="/assets/media/vectors/github.svg" alt="github-logo"/>
            </a>
        </li>
        <li>
            <a href="https://dribbble.com/Hoarfroster">
                <img src="/assets/media/vectors/dribbble.svg" alt="dribbble-logo"/>
            </a>
        </li>
        <li>
            <a href="https://zh.wikipedia.org/wiki/User:HoarfrostFeather">
                <i class="fa-brands fa-wikipedia-w" style="font-size: 22px; color: #888; line-height: 24px;"></i>
            </a>
        </li>
        <li>
            <a href="https://space.bilibili.com/201469972">
                <i class="fa-brands fa-bilibili" style="font-size: 22px; color: #00a1d6; line-height: 24px;"></i>
            </a>
        </li>
    </ul>
</div>