<div class="header">
    <div class="container">
        <div class="icon">
            <img src="/assets/media/vectors/hoarfroster-text.svg" alt="Hoarfroster Logo with Text">
        </div>
        <nav class="navigation">
            <ul class="header-navigation-list">
                <li><a href="/">首页</a></li>
                <li><a href="/archive.html">文章</a></li>
                <li><a href="/about.html">关于</a></li>
            </ul>
            <form action="/search" method="post">
                <label>
                    <input type="text" class="search" placeholder="搜索咕咕咕的小站"/>
                </label>
                <label class="submit">
                    <input type="submit"/>
                </label>
            </form>
        </nav>
        <ul class="social-accounts">
            <li>
                <a href="https://www.zhihu.com/people/shuang-yu-29-75">
                    <i class="fa-brands fa-zhihu" style="font-size: 20px; color:#06f; line-height: 20px;"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/PassionPenguin">
                    <img src="/assets/media/vectors/github.svg" alt="github-logo"/>
                </a>
            </li>
            <li>
                <a href="https://dribbble.com/Hoarfroster">
                    <img src="/assets/media/vectors/dribbble.svg" alt="dribbble-logo"/>
                </a>
            </li>
        </ul>
    </div>
</div>