$primaryColor: #50B17EFF;
$textColor: #444;
$lightTextColor: #888;
$darkTextColor: #000;
$black: #000;
$white: #fff;
$borderColor: #ddd;
$lightColor: #dedede;
$darkColor: #212121;

:root {
  --primaryColor: $primaryColor;
}