@use 'colors';

.content {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 36px auto;
  display: flex;
  align-items: flex-start;

  &.article,
  &.archive {
    article {
      padding: 24px 36px;
      flex: 5;
      background: #fff;
      max-width: calc(100% - 360px);

      .title {
        text-align: center;

        h1 {
          border-bottom: 1px solid #ddd;
          padding-bottom: 16px;
          font-size: 2rem;
        }
      }

      .toc p {
        font: 800 18px/2 sans-serif;
      }

      img[loading="lazy"] {
        max-width: 75%;
        margin: 8px auto;
        display: block;
      }
    }

    .sidebar {
      margin: 0 16px;
      flex: 2;
      max-width: 280px;

      &>* {
        margin-bottom: 16px;
        padding: 12px 16px;
        background: #fff;

        &>span.title {
          margin-bottom: 16px;
          padding-bottom: 12px;
          display: block;
          border-bottom: 1px solid #ddd;
        }
      }

      .avatar {
        margin: 16px auto;
        display: block;
      }

      .about-box {
        padding: 16px 24px;
      }
    }
  }

  &.home {
    min-height: calc(100vh - 56px);
    width: 100vw;
    max-width: unset;
    flex-direction: column;

    &>* {
      margin: 0 auto;
      text-align: center;
    }

    h1 {
      text-align: center;
      margin-top: 25vh;
      margin-bottom: min(3vw, 24px);
      font-size: min(10vw, 72px);
    }

    button {
      width: fit-content;
      font-size: min(6vw, 28px);
      padding-bottom: min(1vw, 8px);
    }
  }

  &.about {
    flex-direction: column;

    .tab {
      display: flex;
      padding-left: calc(280px + 12px);
      border-bottom: 1px solid colors.$borderColor;
      width: calc(75% + 50px); // 100% - 40px - (25% - 10px)

      .tab-item {
        padding: 8px 16px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;

        .material-icons-outlined {
          font-size: 18px;
          vertical-align: middle;
          padding-right: 4px;
        }

        &.active {
          border-bottom: 3px solid colors.$primaryColor;
        }

        &:hover,
        &:focus {
          border-bottom: 3px solid colors.$borderColor;
        }
      }
    }

    .container {
      display: flex;
      width: 100%;
    }

    .main {
      background: colors.$white;
      border-radius: 8px;
      border: 1px solid colors.$borderColor;
      margin: 36px 24px;
      padding: 16px 36px 36px 36px;
      width: 100%;
      position: relative;

      * {
        transition: 500ms ease-in-out;
      }

      &>* {
        opacity: 0;
        display: none;

        &.active {
          display: block;
          opacity: 1;
        }

        &.animation {
          opacity: 1;
          display: block;
        }

        &.active.animation {
          opacity: 0;
        }
      }
    }

    .sidebar {
      width: 280px;
      padding: 0 22px;
      display: none;
      margin-top: 32px;
    }

    section.about article {
      font-size: 14px;
      padding-top: 16px;

      .description-quote {
        padding: 0 16px !important;
        margin: 24px 0 !important;
        display: block;
        color: #888 !important;
        font-weight: 600;
      }
    }

    section.experiences,
    section.educations,
    section.certificates,
    section.social-accounts,
    section.basic-contacts,
    section.interests {
      margin: 8px 0;

      h4 {
        color: #264864;
        font-size: 16px !important;
        line-height: 18px !important;
        vertical-align: middle;


        .arrow::before {
          content: "";
          position: absolute;
          right: -10px;
          bottom: 0;
          width: 0;
          height: 0;
          border-left: 10px solid #32557f;
          border-bottom: 16px solid transparent;
        }

        .arrow::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 0;
          border-left: 8px solid #f8f8f8;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
        }

        .arrow {
          display: inline-block;
          width: 48px;
          height: 16px;
          background: #32557f;
          position: relative;
          margin-left: -64px;
          margin-right: 16px;
          vertical-align: middle;
        }
      }

      &.interests ul {
        display: inline-block;
        font-weight: 600;
        margin-top: 16px;
      }

      &:not(.basic-contacts):not(.social-accounts) ul {
        list-style: none;
        padding: 0;

        li {
          padding-top: 4px;
          font-size: 14px;
          font-weight: 600;
          display: grid;
          grid-template-columns: 128px auto;

          span.time {
            color: steelblue;
            margin-top: 12px;
          }

          p {
            display: block;
          }
        }
      }
    }

    .contact {
      ul {
        list-style: none;
        padding: 0;
      }

      li {
        padding-top: 4px;
        height: 24px;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;

        img,
        .fa-solid,
        .fa-brands {
          width: 20px;
          font-size: 20px;
          vertical-align: middle;
          padding-right: 8px;
          text-align: center;
        }
      }
    }

    @media (max-width: 1080px) {
      .sidebar {
        display: none;
      }

      .flex-bar {
        display: grid;
        grid-template-columns: 256px 100%;
        margin-top: 16px;
        margin-bottom: -16px;
        padding: 0 32px;

        .small-size-about-box {
          display: grid;
          grid-template-areas:
            'avatar title1'
            'avatar title2';

          h1 {
            font-size: 18px;
            grid-area: title1;
            margin: 0;
            height: 28px;
            margin-top: 4px;
          }

          h2 {
            font-size: 14px;
            grid-area: title2;
            margin: 0;
            height: 24px;
            margin-top: -4px;
            color: #888;
          }

          .avatar {
            grid-area: avatar;

            img {
              width: 72px;
              height: 72px;
              object-fit: cover;
              aspect-ratio: 1;
              border-radius: 50%;
              vertical-align: middle;
            }
          }
        }

        .tab {
          padding: 0;
          height: 42px;
          display: flex;
          width: max-content !important;
          margin: 8px 8px 0 0;
        }
      }
    }

    @media (min-width: 1080px) {
      .sidebar {
        display: block;
      }

      .small-size-about-box {
        display: none;
      }

      .flex-bar {
        display: block;
      }
    }
  }

  .sidebar {

    &>div {
      padding: 16px 0;

      &:not(:last-child) {
        border-bottom: 1px solid colors.$borderColor;
      }
    }

    .avatar img {
      width: calc(100% - 48px);
      aspect-ratio: 1;
      object-fit: cover;
      margin: -36px 24px 36px 24px;
      border-radius: 50%;
    }

    h4 {
      margin: 0;
      font-size: 18px;
    }

    .about-box {
      h1 {
        border-bottom: none;
        font-size: 24px;
        margin: 0;
      }

      h2 {
        border-bottom: none;
        font-size: 20px;
        color: colors.$lightTextColor;
        margin: 0;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          height: 24px;
          padding-top: 4px;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .moment {
        padding: 4px 16px;
        font-size: 14px;
        border: 1px solid colors.$borderColor;
        border-radius: 8px;
        width: fit-content;

        .status {
          font-size: 12px;
          padding-right: 8px;
        }
      }
    }

    .organization {
      font-weight: 600;
      font-size: 14px;

      ul {
        list-style: none;
        padding: 0;

        li {
          padding: 8px 0;
        }
      }

      img {
        width: 36px;
        height: 36px;
        border-radius: 4px;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 640px) {

  .content.article,
  .content.archive {
    display: block;

    article {
      max-width: unset;
    }

    .sidebar {
      display: none;
    }
  }

  .content.about {
    .main {
      margin: 0 8px 36px 8px;
      padding: 16px;
    }
  }
}

.meta>* {
  padding: 8px;
  font-size: 14px;
  color: #888;
}